
.cv-button article{
    display: grid;
grid-template-columns: 1fr 1fr;
gap: 5em;


}
.cv-button h2{
    font-size: 35px;
    color: #ba181b;
}
.cv-button{
    margin-bottom: 5em;
    line-height: 2.5em;
margin: 5em;
}

.download-button-cv{
    background-color: #e5383b;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-style: none;
    border-radius: 5px;
    font-size: 15px;

}

.cv-button p {
    color: #e5383b; 
}

.contact {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10em;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.contact h2 {
    font-size: 5rem;
    margin-bottom: 20px;
    margin-top: -0.5em;
    color: #ba181b;
}

.contact p {
    font-size: 1.2rem;
    max-width: 500px;
    line-height: 1.5;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 30px;
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
}

article h3 {
    font-size: 1.4rem;

    color: #ba181b;
    margin-bottom: 5px;
}

article p {
    font-size: 1.2rem;
    color: #e5383b;
}

article a {
    font-size: 1.2rem;
 color: #e5383b;
    text-decoration: none;
    margin-top: 1em;

}

@media (max-width: 768px) {
    .info {
        grid-template-columns: 1fr;
    }

    .contact h2 {
        font-size: 2.5rem;
    }

    .contact p {
        font-size: 1rem;
    }
}